services:
  app-server:
    build: .
    container_name: ice_pos
    restart: unless-stopped
    ports:
      - '${PORT:-5000}:5000'
    env_file:
      - .env
    environment:
      - NODE_ENV=production
